# The Site Configuration

theme: jekyll-theme-chirpy
# baseurl: https://garmede.github.io

lang: ko-KR
prefer_datetime_locale: ko
timezone: Asia/Seoul

title: GeoGon

tagline: 그래픽 노트

description: >-
  그래픽에 대한 자료정리 및 소소한 기록을 남기는 블로그입니다.

url: https://garmede.github.io

github:
  username: garmede

twitter:
  username: Yungon

social:
  name: 차영곤
  email: garmede@gmail.com
  links:
    - https://github.com/garmede
    # - https://twitter.com/Yungon
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

# Site Verification Settings
webmaster_verifications:
  google: 9b8zgCbYftCEyB-dh5z-S0JfXU5sG4-f4CYFGefCCSw
  # bing:
  # alexa:
  # yandex:
  # baidu:
  # facebook:

# Web Analytics Settings
analytics:
  google:
    id: G-K2Z8Z9ZXSL
  # goatcounter:
  #   id:
  # umami:
  #   id:
  #   domain:
  # matomo:
  #   id:
  #   domain:
  # cloudflare:
  #   id:
  # fathom:
  #   id:

theme_mode: # [dark|light]

# e.g. 'https://cdn.com'
img_cdn: ''

avatar: /assets/img/88x88.webp

toc: true

comments:
  # Global switch for the post-comment system. Keeping it empty means disabled.
  provider: giscus  # [disqus | utterances | giscus]
  # Disqus options (https://disqus.com/)
  disqus:
    shortname:
  # Utterances options (https://utteranc.es/)
  utterances:
    repo:
    issue_term:
  # Giscus options (https://giscus.app)
  giscus:
    repo: garmede/garmede.github.io
    repo_id: MDEwOlJlcG9zaXRvcnkzNzI0ODkzODg=
    category: General
    category_id: DIC_kwDOFjO8rM4CQpqE
    mapping: og:title
    strict: 0
    input_position: bottom
    lang: ko
    reactions_enabled: 1
assets:
  self_host:
    enabled: true
    # specify the Jekyll environment, empty means both
    # only works if `assets.self_host.enabled` is 'true'
    env:

pwa:
  enabled: true
  cache:
    enabled: true
    # Paths defined here will be excluded from the PWA cache.
    # Usually its value is the `baseurl` of another website that
    # temporary use this domain
    deny_paths:
      # - /hierarchical/path

paginate: 10

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ''
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: "/:categories/:title"
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ''
      type: tabs             # see `site.collections`
    values:
      layout: page
      permalink: /:title
  - scope:
      path: assets/img/favicons
    values:
      swcache: true
  - scope:
      path: assets/js/dist
    values:
      swcache: true

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - '*.gem'
  - '*.gemspec'
  - tools
  - README.md
  - CHANGELOG.md
  - LICENSE
  - gulpfile.js
  - node_modules
  - package*.json

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
