{% case page.license %}
{% when "CC0 1.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 
  <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    CC0 1.0 Universal
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-zero" aria-hidden="true"></i>
  로 표시되어 있습니다.
</p>
{% when "CC BY 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="http://creativecommons.org/licenses/by/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% when "CC BY-SA 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution-ShareAlike 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-sa" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% when "CC BY-ND 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution-NoDerivatives 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-nd" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% when "CC BY-NC 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution-NonCommercial 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-nc" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% when "CC BY-NC-SA 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution-NonCommercial-ShareAlike 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-nc" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-sa" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% when "CC BY-NC-ND 4.0" %}
<p align="center" style="font-size: small; margin-bottom: 1em;">
  GEOGON의 이 글은 저작권 
  <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ko" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
    Attribution-NonCommercial-NoDerivatives 4.0 International
  </a>
  <i class="fa-brands fa-creative-commons" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-by" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-nc" aria-hidden="true"></i>
  <i class="fa-brands fa-creative-commons-nd" aria-hidden="true"></i>
  을 따릅니다.
</p>
{% endcase %}