body {
  font-family: 'Pretendard', sans-serif !important;
}

.pagination {
  font-family: 'Pretendard', sans-serif !important;
}

%heading {
  font-weight: bold;
  font-family: 'Pretendard', sans-serif !important;
}

code, kbd, pre, samp {
  font-family: 'Cascadia Mono', 'Source Han Mono', monospace !important;
}
