body {
  font-family: 'Pretendard', sans-serif !important;
}

.pagination {
  font-family: 'Pretendard', sans-serif !important;
}

%heading {
  font-weight: bold;
  font-family: 'Pretendard', sans-serif !important;
}

code, kbd, pre, samp {
  font-family: 'Cascadia Mono', 'Source Han Mono', monospace !important;
}

figure .mfp-title {
  text-shadow: 3px 3px 10px #000, -3px -3px 10px #000, 3px -3px 10px #000, -3px 3px 10px #000;
}

.mfp-figure::after {
  background: unset !important;
  box-shadow: unset !important;
}
